.info-status {
  border: 2px solid;
  border-radius: 10px;
  font-weight: bolder;
  width: 115px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  &.completed {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
  &.canceled {
    color: var(--alert-color);
    border-color: var(--alert-color);
  }
}
