<div class="signup-page page-wrapper">
  <div class="signup-container">
    <div class="signup-form-wrapper">
      <h1 class="page-title">Signup</h1>
      <form class="signup-form">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-user"></i>
          </p-inputGroupAddon>
          <input pInputText placeholder="Username" />
        </p-inputGroup>
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-envelope"></i>
          </p-inputGroupAddon>
          <input pInputText placeholder="Email" />
        </p-inputGroup>
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-lock"></i>
          </p-inputGroupAddon>
          <input pInputText placeholder="Password" />
        </p-inputGroup>
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-lock"></i>
          </p-inputGroupAddon>
          <input pInputText placeholder="Confirm Password" />
        </p-inputGroup>

        <button pButton pRipple label="Submit"></button>
      </form>
    </div>
    <div class="illustration-side">
      <img ngSrc="assets/images/auth-illustration.jpeg" alt="auth-illustration" height="1024" width="1024"/>
    </div>
  </div>
</div>
