@if (item) {
  <div class="item-card border-round flex flex-column gap-3 w-fit border-round shadow-2">
    <img [ngSrc]="item.imgUrl ?? ''"
         priority [alt]="item.name" width="200" height="100" class="w-full border-round-top"/>
    <span class="item-card_footer flex justify-content-between align-items-center gap-3 px-3 pb-2">
          <span class="item-card_name">{{item.name}}</span>
          <p-button [raised]="true" [text]="true" icon="pi pi-plus"
                    styleClass="border-none p-0 shadow-none text-sm item-card_add-btn" (onClick)="addItemToList(item)"/>
        </span>
  </div>

}
