.item-card {
  &_name {
    color: var(--text-blue);
  }
  img {
    max-width: 150px;
    min-width: 150px;
  }
  ::ng-deep {

    .item-card_add-btn {
      background: var(--light-pink);
      height: 25px;
      width: 25px;
      color: var(--bg-color);

      .pi {
        font-size: 10px;
      }
    }
  }
}
