<div class="item-card" [ngClass]="{'in-list': mode === ITEM_CARD_MODES.VIEW || mode === ITEM_CARD_MODES.EDIT}">
<!--  <p-checkbox -->
<!--    [(ngModel)]="checked"-->
<!--              inputId="itemCard"-->
<!--              id="itemCard"></p-checkbox>-->
<!-- <label for="itemCard">-->
   <p class="item-card_name">
     <span>{{item?.itemName}}</span>
   </p>
   <ng-container [ngSwitch]="mode">
     <ng-template [ngSwitchCase]="ITEM_CARD_MODES.ADD">
       <button class="add-item-btn btn-icon">
         <i class="pi pi-plus"></i>
       </button>
     </ng-template>
     <ng-template [ngSwitchCase]="ITEM_CARD_MODES.VIEW">
       <p class="item-card_count">
         {{item?.itemCount}} pcs
       </p>
     </ng-template>
     <ng-template [ngSwitchCase]="ITEM_CARD_MODES.EDIT">
       <button class="item-card_count-btn" [ngClass]="{'extended':  isCountExtended}">
         <span class="remove-item" *ngIf="isCountExtended">
           <i class="pi pi-trash"></i>
         </span>
         <span class="decrease-count" *ngIf="isCountExtended">
          <i class="pi pi-minus"></i>
        </span>
        <span class="item-count" (click)="onEditItemCount()">{{item?.itemCount}} pcs</span>
        <span class="increase-count" *ngIf="isCountExtended">
          <i class="pi pi-plus"></i>
        </span>
       </button>
     </ng-template>
   </ng-container>
<!-- </label>-->


</div>
