.page-container {
  display: flex;
  gap: 50px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  position: relative;
  background-color: var(--cold-blue-bg);
  .app-side-navigation-container {
    width: 90px;
    height: 100vh;
    box-shadow: 0 0 10px 0 var(--subtle-color);
    background-color: var(--bg-color);
    position: fixed;
    @media(max-width: 1200px) {
      width: 70px;
    }
  }
  .app-content-container {
    width: 100%;
    padding-right: 450px;
    padding-left: 140px;
    padding-bottom: 30px;
    background-color: var(--surface-c);
    height: fit-content;
    overflow-y: auto;
    @media(max-width: 1200px) {
      padding-right: 40px;
      padding-left: 110px;
    }
  }
  .app-right-view-container {
    border: 1px solid #355259;
    width: 600px;
    //position: fixed;
    //top: 0;
    //transition: all 1s ease-in-out;
    //bottom: 0;
    //z-index: 2;
    //right: -100%;
    background-color: var(--white-bg);
    //&.visible {
    //  right: 0;
    //  @media(max-width: 1200px) {
    //    display:  block;
    //  }
    //}
    //@media(max-width: 1200px) {
    //  display: none;
    //}
  }
}
