<div class="item-details_container" *ngIf="sideViewsService.itemDetails()">
  <div class="item-details_header">
    <p-button [link]="true" icon="pi pi-arrow-left" (onClick)="backInView()"/>
    <span class="item-details_header-actions">
      <p-button [link]="true" icon="pi pi-trash" (onClick)="deleteItem(sideViewsService.itemDetails()?._id)"/>
      <p-button [link]="true" icon="pi pi-pencil" (onClick)="navigateToEditItemView(sideViewsService.itemDetails()?._id)"/>
    </span>
  </div>
  <div class="item-details_wrapper">
    <img [ngSrc]="sideViewsService.itemDetails()?.imageURL ?? 'assets/images/shopping-list-illustration.png'"
         width="1024" height="1024" alt="item-img"/>
    <div class="item-info">
      <p class="item-info-label">
        name
      </p>
      <p class="item-info-value">{{sideViewsService.itemDetails()?.name || '-'}}</p>
    </div>
    <div class="item-info">
      <p class="item-info-label">
        category
      </p>
      <p class="item-info-value">{{getItemCategoryName(sideViewsService.itemDetails()?.categoryId)}}</p>
    </div>
    <div class="item-info">
      <p class="item-info-label">
        description
      </p>
      <p class="item-info-value">{{sideViewsService.itemDetails()?.description || '-'}}</p>
    </div>
  </div>
  <div class="item-details_actions">
    <p-button label="Add to list" class="add-btn" (onClick)="addItemToList(sideViewsService.itemDetails())"></p-button>
  </div>
</div>
