.item-details {
  &_container {
    height: 100%;
    overflow: scroll;
  }
  &_wrapper {
    padding: 0 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   img {
     width: 100%;
     height: auto;
   }
    .item-info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      p {
        margin: 0;
      }
      &-label {
        color: var(--subtle-color);
        font-size: 14px;
      }
      &-value {
        color: var(--text-color-green);
        font-weight: bolder;
        font-size: 16px;
      }
    }
  }
  &_header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
  }
  &_actions {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
