<ng-container *ngIf="listGroupItem" class="history-list-section">
  <div class="lists-groups-by-date_date-section" *ngFor="let item of listGroupItem | keyvalue">
  <h4 class="lists-groups-by-date_title">{{item.key | date: 'MMMM YYYY'}}</h4>
  <div class="list-cards__wrapper">
    <p-card class="list-card" *ngFor="let list of item.value">
      <p class="list-card__list-title">{{list?.name}}</p>
      <div class="list-card__info">
          <span class="list-card__info-date">
            <i class="pi pi-calendar"></i>
            <p>{{list?.completedAt ?? list?.updatedAt | date: 'EEE mm.dd.yyyy'}}</p>
          </span>
        <span class="wrapper">
            <app-list-status [status]="list.status"></app-list-status>
          <p-button [routerLink]="list?._id" [link]="true" icon="pi pi-chevron-right"></p-button>
          </span>
      </div>
    </p-card>
  </div>
  </div>

</ng-container>
