<div class="add-edit-item_container" *ngIf="categoriesList.length > 0">
  <h3 class="add-edit-item_title">{{isEdit ? 'Edit item' : 'Add a new item'}}</h3>
  <form class="add-edit-item_form" [formGroup]="itemForm">
    <div class="input-group">
      <label for="item-name">Name</label>
      <input pInputText id="item-name" formControlName="name"/>
      <small class="p-error">{{getFormValidationErrors(itemForm.get('name'))}}</small>
    </div>
    <div class="input-group">
      <label for="item-category">Category</label>
      <p-dropdown id="item-category"
                  placeholder="Select a category"
                  optionLabel="name"
                  optionValue="_id"
                  formControlName="category"
                  [options]="categoriesList"></p-dropdown>
      <small class="p-error">{{getFormValidationErrors(itemForm.get('category'))}}</small>

    </div>
    <div class="input-group">
      <label for="item-price">Price</label>
      <input pInputText id="item-price" formControlName="price" type="number"/>
      <small class="p-error">{{getFormValidationErrors(itemForm.get('price'))}}</small>
    </div>
   <div class="input-group-row">
     <div class="input-group">
       <label for="item-quantity">Quantity</label>
       <input pInputText id="item-quantity" formControlName="quantity" type="number"/>
       <small class="p-error">{{getFormValidationErrors(itemForm.get('quantity'))}}</small>
     </div>
     <div class="input-group">
       <label for="item-quantity-unit">Quantity unit</label>
       <input pInputText id="item-quantity-unit" formControlName="quantityUnit"/>
       <small class="p-error">{{getFormValidationErrors(itemForm.get('quantityUnit'))}}</small>
     </div>
   </div>
<!--    <div class="input-group">-->
<!--      <label for="item-img">Image</label>-->
<!--      <p-fileUpload id="item-img"-->
<!--                    mode="basic"-->
<!--                    chooseLabel="Upload item image"-->
<!--                    name="demo[]"-->
<!--                    accept="image/*" (onSelect)="uploadCategoryImg($event)"></p-fileUpload>-->
<!--      &lt;!&ndash;       maxFileSize="1000000" (onUpload)="onUpload($event)"&ndash;&gt;-->
<!--            <small class="p-error">{{getFormValidationErrors(itemForm.get('imageURL'))}}</small>-->
<!--    </div>-->
    <div class="input-group">
      <label for="item-description">Description</label>
      <textarea id="item-description" rows="5" cols="30" formControlName="description"
                pInputTextarea></textarea>
      <small class="p-error">{{getFormValidationErrors(itemForm.get('description'))}}</small>
    </div>
  </form>
  <div class="add-edit-item_actions">
    <p-button label="cancel"
              [link]="true" (onClick)="onCancel()"></p-button>
    <p-button label="Submit"
              [loading]="isLoading"
              [disabled]="itemForm.invalid"
              (click)="onItemCreation()"></p-button>
  </div>
</div>
