.home-page {
  padding: 20px 40px;
  &__categories-list {
    border-radius: 10px;
    h3, p {
      padding-left: 40px;
    }
    p {
      color: var(--subtle-color);
    }
  }
  ::ng-deep {
    .p-inputgroup {
      justify-content: flex-end;
      width: fit-content;
    }

  }
}
