.home-page {
  &_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    color: var(--text-color);
    padding: 50px 0 30px;
    &_title {
      font-weight: 500;
      width: 80%;
      max-width: 340px;
      span {
        font-size: 24px;
        color: var(--primary-color);
        font-weight: bolder;
      }
    }
  }
  &_content {
    .items-categories-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .items-category {
      display: flex;
      flex-direction: column;
      .category-title {
        color: var(--text-color);
      }
      .category-items-list {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 90%;
        flex-wrap: wrap;
      }
    }
  }
}
