:root {
  --text-color-green: #355259; // previously --primary-color
  --highlight-color: #e1b630; // previously --secondary-color
  --bg-color: #f9f9f7; // previously --background-color
  --alert-color: #cf554a; // previously --error-color
  --subtle-color: #97aebc; // previously --details-color
  --soft-accent-color: #f0aaa7; // previously --accent-color
  --light-blue: #cfe6e7; // remained the same as it is specific
  --mint-green-bg: #d1e8e2;
  --primary-color: #10b981;
  --main-color: #FF7F50;
  --soft-yellow: #FFD700;
  --fresh-green: #4CAF50;
  --cool-blue: #4A90E2;
  --white-bg: #ffffff;
  --secondary-bg: #F5F5F5;
  --text-color: #333333;
}


/*
Primary Color (Deep Sea Blue) #355259:
Use this for the header, footer, and primary buttons to convey reliability and professionalism.
Secondary Color (Sunny Gold) #e1b630:
This can be used for highlighting important features, calls to action, and for drawing attention to special offers.
Accent Color (Soft Coral) #f0aaa7:
Perfect for interactive elements like hover states, active menu items, and for subtle accents throughout the site.
Background Color (Cloud White) #f9f9f7:
A clean background color that will make your content pop and ensure the site feels open and airy.
Detail Color (Sky Blue) #97aebc:
Use this for links, icons, and to add a touch of calm and tranquility to the overall design.
*/
