<div class="list-details" *ngIf="listDetails">
  <p-button icon="pi pi-arrow-left"
            [routerLink]="'/app/history'"
            [link]="true"
            label="back"></p-button>
  <div class="title-wrapper">
    <h3 class="page-title">{{listDetails.name}}</h3>
    <app-list-status [status]="listDetails.status"></app-list-status>
  </div>
  <div class="info-date">
            <i class="pi pi-calendar"></i>
            <p>{{listDetails.completedAt ?? listDetails.updatedAt | date: 'EEE dd.MM.yyyy'}}</p>
  </div>
  <div class="list-details_content" *ngIf="listDetails.items">
    <app-items-list-section [itemBtnMode]="ITEM_CARD_MODES.VIEW" [inHome]="false"
    [items]="listDetails.items"></app-items-list-section>
  </div>
</div>
