<div class="category-card flex flex-column gap-3 w-fit border-round cursor-pointer" (click)="onSelectCategoryItem(category.id)">
  <img ngSrc="https://s3-alpha-sig.figma.com/img/fd41/b9fe/7e544a23b42f51fe642e52a05a65f499?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=l08Tn5~K~UlqSyhAnpNldEKn6F1ZlWrIB9SfELaFfeeL5C2pN8j5PxSG6h3PK8OX1fMKoYzL9KdbC4b7-Zydz9dDs68yze3aAhLbO8vUQN-g-IFKM3oBvU-ovG6oGXhVq9KEh5VoARJMNmctGccYmnOxfqLtG6eFl7rovI69je39NUzojsxTp9GIfWV~zv6a5~CMqjw7iqX~71ZI8WIol1g5IW2YSrUoP~~u~ou2cVO-qsH6EVPb0OqZoU9W0z4GDgOE6J6zxL90cgPn3Ku9BMXj~rRu3MMQLo4TIvEg0w~qROSvV7e7B2~TzlGlC~tpNzKacHn2AHxmp2FWdAnGYQ__"
       priority alt="category-img" width="100" height="100" class="border-round"/>
  <p class="m-0 text-md text-center">Bread</p>
</div>
