.side-navigation {
  &__content {}
  &__user-actions {
    ::ng-deep {
      .logout-btn {
        color: var(--mint-green);
      }
    }
  }
  &__menu-list {
    li {
      margin-bottom: 40px;
      padding: 10px;
      border-radius: 10px;
      a {
        span, i {
          color: var(--text-blue);
        }
      }
      &:hover, &.active {
        background: var(--light-blue);
      }
    }
  }
}
::ng-deep {
  .side-navigation {
    &.p-sidebar {
      //background: rgba(9, 121, 122, 0.1) !important;
    }
  }
}
