<p-sidebar [visible]="true" [dismissible]="false" [modal]="false"
           [showCloseIcon]="false" styleClass="w-5rem side-navigation shadow-none">
  <ng-template pTemplate="headless">
    <div class="w-full h-auto side-navigation__header p-1 bg-transparent">
      <img ngSrc="assets/images/logo-1.jpeg" alt="logo" width="1024" height="1024" class="w-full h-full"/>
    </div>
    <div class="side-navigation__content bg-transparent h-full flex flex flex-column align-items-center justify-content-center">
      <ul class="side-navigation__menu-list list-none py-0 px-2 m-0 w-full">
        <li [class.active]="activeRoute().includes('home')">
          <a class="p-link flex flex-column gap-2 align-items-center justify-content-center text-sm no-underline" [routerLink]="'home'">
            <i class="pi pi-home"></i>
            <span>Home</span>
          </a>
        </li>
        <li [class.active]="activeRoute().includes('stats')">
          <a class="p-link flex flex-column gap-2 align-items-center justify-content-center text-sm no-underline" [routerLink]="'stats'">
            <i class="pi pi-chart-pie"></i>
            <span>stats</span>
          </a>
        </li>
        <li [class.active]="activeRoute().includes('history')" >
          <a class="p-link flex flex-column gap-2 align-items-center justify-content-center text-sm no-underline" [routerLink]="'history'">
            <i class="pi pi-history"></i>
            <span>History</span>
          </a>
        </li>
        <li [class.active]="activeRoute().includes('admin')">
          <a class="p-link flex flex-column gap-2 align-items-center justify-content-center text-sm no-underline"  [routerLink]="'stats'">
            <i class="pi pi-wrench"></i>
            <span>Admin</span>
          </a>
        </li>
      </ul>
      <div class="side-navigation__user-actions flex flex-column align-items-center justify-content-center gap-3">
        <p-avatar
          [label]="userInfo()?.username?.charAt(0)"
          size="large" />
        <p-button icon="pi pi-sign-out" [raised]="true" [text]="true" styleClass="shadow-none p-0 w-full mt-4 logout-btn"
                  (onClick)="onLogout()"/>
      </div>
    </div>
  </ng-template>
</p-sidebar>
