.side-navigation {
  &__content {}
  &__menu-list {
    li {
      margin-bottom: 40px;
      padding: 10px;
      border-radius: 10px;
      &:hover {
        background: #add8e66e;
      }
    }
  }
}
::ng-deep {
  .side-navigation {
    &.p-sidebar {
      //background: rgba(9, 121, 122, 0.1) !important;
    }
  }
}
